@tailwind base;
@tailwind components;
@tailwind utilities;

.bricks--section {
   background-color: transparent !important;
   width: 32vw !important;
}

.bricks--section.rd-section {
    @media  (max-width: 768px) {
        width: 100% !important;
    }
}


.bricks--column div:not(.phone-input-group) {
    background-color: transparent !important;
    width: 70vh !important;

    @media  (max-width: 768px) {
        margin-left: 2px !important;
        width: 80vw !important;
    }
    
}

.bricks--row.rd-row {
    justify-content: center !important;
}

.phone-country {
    max-width: 100px;
}

/* 
.bricks--column.rd-column {
    @media  (max-width: 768px) {
        display: block;
        position: static;
    }
} */

.bricks--component h1{
    color: red !important;
    display: none;
}
.bricks--component h2{
    display: none;
}


.bricks--component .bricks-form{
    width: 90vw !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center ;
    margin: 0px !important;

    @media  (max-width: 768px) {
        margin-right: 0px !important;
    }
}


.bricks-form__input{
  background-color: #E0E0E0;
  border-radius: 8px !important;
  color: #828282 !important;
  font-family: 'inter' !important;
 
}

.bricks-form__label{
    color: #ffffff !important;
    font-family: "inter" !important;
}

.bricks-form__submit{
    padding: 0px !important ;
  
}


.bricks--component .bricks--component-button {
    font-family: 'inter' !important;
    background: linear-gradient(90deg, #3DA1DD 0%, #6AC7F9 100%) !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 0 !important;
    margin-bottom: 1rem !important;

    
    @media  (max-width: 768px) {
        margin-left: 0px !important;
    }

}

.bricks--component .bricks--component-text p {
      width: fit-content !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      padding: 0px !important;
      margin: 0 auto !important;

    @media  (max-width: 768px) {
        margin: 0px !important;
        width: 100% !important;

        span {
            text-align: center;
        }
    }
      
}

.bricks--component span{
    color: white !important;
    font-size: 16px !important;
    font-family: 'inter' !important;
}

img.flag {
    margin-top: 8px !important;
}

.country-field {
    display: none;
}